@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    a[href] {
        cursor: pointer;
    }

    button:not(:disabled),
    input[type="button"]:not(:disabled),
    input[type="submit"]:not(:disabled),
    input[type="reset"]:not(:disabled),
    [role="button"]:not([aria-disabled="true"]) {
        cursor: pointer;
    }

    button:disabled,
    input:disabled,
    [aria-disabled="true"] {
        cursor: not-allowed;
    }

    button:focus:not(:focus-visible),
    a:focus:not(:focus-visible),
    [role="button"]:focus:not(:focus-visible) {
        outline: none !important;

        --tw-ring-color: transparent !important;
        --tw-ring-shadow: 0 0 transparent !important;
        --tw-ring-offset-shadow: 0 0 transparent !important;

        box-shadow: none !important;
    }
}
